#intro {
    margin: 0 270px 0 20px;
    line-height: 1.8;
    font-weight: bold;
}

.content-header {
     text-align: center;
     display: block;
     margin: 8px;
}

.content-text {
    text-align: center;
}

.chase-full {
    background-size: 250px;
    background-image: url("../img/chase_full.png");
    background-repeat: no-repeat;
    background-position: 97% 120px;
    background-position-x: 97%;
    background-position-y: 120px;
}

.character-info {
    margin: 0 20px;
    min-height: 250px;
}

.headline {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.character-lineup {
    margin: 20px;
}

.character-lineup div {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.character-lineup div a:hover {
    font-weight: bold;
}

.character-lineup div a img {
    height: 220px;
    display: block;
    margin-bottom: 12px;
}

.contact-content {
    min-height: 260px;
    padding: 10px 20px;
}

.contact-image {
    height: 20px;
    padding-right: 6px;
}

/** Character page image styles */
.character-image {
    background-size: 250px;
    background-repeat: no-repeat;
    height: 250px;
    margin: 10px 0;
    float: right;
}

.chase {
    background-image: url(../img/chase_full.png);
    width: 260px;
}

.ruby {
    background-image: url(../img/ruby_full.png);
    height: 280px;
    width: 250px;
}