#intro {
    margin: 0 270px 0 20px;
    line-height: 1.8;
    font-weight: bold;
}

.chase-full {
    background-size: 250px;
    background-image: url("../img/chase_full.png");
    background-repeat: no-repeat;
    background-position: 97% 120px;
    background-position-x: 97%;
    background-position-y: 120px;
}