/** RSS Widget **/
#widgetmain {
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
}

#widgetbottom {
    text-align: right;
    margin-bottom: 0;
}

#rssOutput {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 390px;
    font-family: sans-serif;
}

/** Twitch Widget **/
.badge {
    border: none;
    height: 4em;
    margin: 20px auto;
    display: block;
}

/** Picarto Badge **/
.center {
    text-align: center;
}